USE [CitizenShipExam]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2019-08-08 9:36:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Answer]    Script Date: 2019-08-08 9:36:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answer](
	[AnswerId] [int] NOT NULL,
	[Answer] [nvarchar](max) NULL,
	[IsCorrectAnswer] [bit] NOT NULL,
	[QuizId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Answers] PRIMARY KEY CLUSTERED 
(
	[AnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chapter]    Script Date: 2019-08-08 9:36:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapter](
	[ChapterId] [int] NOT NULL,
	[ChapterName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Chapters] PRIMARY KEY CLUSTERED 
(
	[ChapterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiz]    Script Date: 2019-08-08 9:36:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz](
	[QuizId] [int] NOT NULL,
	[Question] [nvarchar](max) NULL,
	[ChapterId] [int] NULL,
 CONSTRAINT [PK_dbo.Quizs] PRIMARY KEY CLUSTERED 
(
	[QuizId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Answer] ([AnswerId], [Answer], [IsCorrectAnswer], [QuizId]) VALUES (1, N'1871', 0, 1)
INSERT [dbo].[Answer] ([AnswerId], [Answer], [IsCorrectAnswer], [QuizId]) VALUES (2, N'1898', 0, 1)
INSERT [dbo].[Answer] ([AnswerId], [Answer], [IsCorrectAnswer], [QuizId]) VALUES (3, N'1867', 1, 1)
GO
INSERT [dbo].[Chapter] ([ChapterId], [ChapterName]) VALUES (1, N'Rights and Responsibilities of Citizenship')
INSERT [dbo].[Chapter] ([ChapterId], [ChapterName]) VALUES (2, N'Who We Are')
INSERT [dbo].[Chapter] ([ChapterId], [ChapterName]) VALUES (3, N'Canada’s History')
INSERT [dbo].[Quiz] ([QuizId], [Question], [ChapterId]) VALUES (1, N'When did the British North America Act come into effect?', NULL)
INSERT [dbo].[Quiz] ([QuizId], [Question], [ChapterId]) VALUES (2, N'Which province was split into two at Confederation?', NULL)
INSERT [dbo].[Quiz] ([QuizId], [Question], [ChapterId]) VALUES (3, N'Who were the Voyagers?', NULL)
GO
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Answers_dbo.Quizs_QuizId] FOREIGN KEY([QuizId])
REFERENCES [dbo].[Quiz] ([QuizId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FK_dbo.Answers_dbo.Quizs_QuizId]
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Quizs_dbo.Chapters_ChapterId] FOREIGN KEY([ChapterId])
REFERENCES [dbo].[Chapter] ([ChapterId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Quiz] CHECK CONSTRAINT [FK_dbo.Quizs_dbo.Chapters_ChapterId]
GO
/****** Object:  StoredProcedure [dbo].[GetAnswersByQuestionId]    Script Date: 2019-08-08 9:36:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAnswersByQuestionId] --GetAnswersByQuestionId 1
	-- Add the parameters for the stored procedure here
	@QuestionId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	Select a.Answer,a.IsCorrectAnswer from Answer a
	inner join quiz q on q.QuizId = a.QuizId
	Where q.QuizId = @QuestionId
	Order by NEWID()
	
END
GO
/****** Object:  StoredProcedure [dbo].[GetChapters]    Script Date: 2019-08-08 9:36:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetChapters]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT ChapterName from Chapter
END
GO
/****** Object:  StoredProcedure [dbo].[GetNumberOfQuestionsByChapter]    Script Date: 2019-08-08 9:36:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetNumberOfQuestionsByChapter] --GetNumberOfQuestionsByChapter 'Rights and Responsibilities of Citizenship',5
	-- Add the parameters for the stored procedure here
	@ChapterName nvarchar(250),
	@numberOfQuestions int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	Select top(@numberOfQuestions) q.QuizId,q.Question from Chapter c 
	inner join quiz q on c.ChapterID = q.ChapterId
	Where c.ChapterName = @ChapterName
	Order by NEWID()

	
END
GO
/****** Object:  StoredProcedure [dbo].[GetQuestionAnswersByChapter]    Script Date: 2019-08-08 9:36:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetQuestionAnswersByChapter] --GetQuestionAnswersByChapter 1
	-- Add the parameters for the stored procedure here
	@ChapterNo int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	Select Question,Answer,IsCorrectAnswer from Chapter c 
	inner join quiz q on c.ChapterID = q.ChapterId
	inner join Answer a on q.QuizId = a.QuizID
	Where c.ChapterID = @ChapterNo
	order by newId()
	
END
GO
/****** Object:  StoredProcedure [dbo].[GetQuestionsByChapter]    Script Date: 2019-08-08 9:36:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[GetQuestionsByChapter] --GetQuestionsByChapter 1
	-- Add the parameters for the stored procedure here
	@ChapterNo int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	Select q.QuizId,q.Question from Chapter c 
	inner join quiz q on c.ChapterID = q.ChapterId
	Where c.ChapterID = @ChapterNo
	
END
GO
/****** Object:  StoredProcedure [dbo].[GetQuestionsByChapterName]    Script Date: 2019-08-08 9:36:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetQuestionsByChapterName] --GetQuestionsByChapterName 'Rights and Responsibilities of Citizenship'
	-- Add the parameters for the stored procedure here
	@ChapterName nvarchar(250)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	Select q.QuizId,q.Question from Chapter c 
	inner join quiz q on c.ChapterID = q.ChapterId
	Where c.ChapterName = @ChapterName
	Order by NEWID()
	
END
GO
